    /* ----fonts---- */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common-style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
main{
display:flex;
flex-direction: column;
align-items: center;
}
.container{
    width: 870px;
    background-color: #ffff;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}


/* top-players stylesheet */
.top-players{
    margin-bottom: 30px;
}
.players{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-row-gap:30px;

}
.player{
    display: flex;
    align-items: center;
   

}

.player img{
    width: 56px;
}
.section1-title{
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
    margin-top:3px;
}

.player-name{
    margin-left: 16px;
    font-size: 18px;
}

.horizontal-line{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;

}

/* ------------------
    Blog sylesheet 
 ------------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:26px;

}
 .blog{
     display: flex;
 }

 .thumbnil img{
    width: 177px;
    height: 117px;
    margin-right: 16px;
 }
.blog-title{
    font-weight: 500;
    font-size: 20px;
}
.author-name{
    font-size: 16px;
    color: #9F9F9F;
}
.author-name a{
    color:#562EFF;
    text-decoration: none;
}

/* ----------------------- Latest Course stylesheet ---------------- */
.courses{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-column-gap:24px;
}
.course{
    width: 253px;
    height: 270px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
display: flex;
justify-content: space-between;
font-size: 14.6913px;
}
.course-name{
    font-size: 20.0336px;
}
.course-author{
    
    color: #ED6B4F;
}
.fas.filled{
 color: #FFC014;;
}
.fas.empty{
    color: #AEAEAE;
}


/* Media Queries */

@media (max-width:688px) {
    .container{
        width:100%;
        text-align: center;
    }
  .players, .courses, .blogs{
      grid-template-columns: repeat(1, 1fr);
     
     
  }  
  .player, .course, .blog{
      flex-direction: column;

    
  }
  .course{
      width: 100%;
      height: auto;
      margin: 15px;
  }
}
 /* tablet devices */

@media (min-width:689px) and (max-width: 992px) {
    .container{
        width:100%;
        text-align: center;
       
    }
  .players, .courses, .blogs{
      grid-template-columns: repeat(2, 1fr);

     
     
  }  
  .player, .course, .blog{
      flex-direction: column;

    
  }
  .course{
    width: 80%;
    height: auto;
    margin: 15px;
}
    
}